@import url(./styles/index.css);
@import url(./styles/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}

.width {
    display: block;
    padding: 90px 0;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.width-dashboard {
    display: block;
    padding: 90px 0;
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
}

.router-link-active {
    color: #edf2f4ff;
    background-color: #ef233cff;
}

.chart {
    height: 100%;
    background-color: red;
    /* height: 90%; */
}

p {
    line-height: 2rem;
}